<div class="card" *ngIf="product.title">
  <img class="card-img-top" *ngIf="product.imageUrl" src="{{product.imageUrl}}" alt="{{product.imageUrl}}">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | currency:'USD'}}</p>
  </div>
  <div class="card-footer" href="#" *ngIf="showAction && shoppingCart">
    <button *ngIf="shoppingCart.quantity(product.key) === 0; else updateQuantity" (click)="addToCart()" class="btn btn-primary btn-block">
      Add shopping cart</button>
  </div>
  <ng-template #updateQuantity>
    <app-product-quantity [product]="product" [shopping-cart]="shoppingCart"></app-product-quantity>
  </ng-template>
</div>
