<div class="card" *ngIf="product.title">
  <img class="card-img-top" *ngIf="product.imageUrl" src="{{product.imageUrl}}" alt="{{product.imageUrl}}">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | currency:'USD'}}</p>
  </div>
  <div class="card-footer" href="#" *ngIf="showAction">
    <button *ngIf="getQuantity() === 0; else updateQuantity" (click)="addToCart()" class="btn btn-primary btn-block">
      Add shopping cart</button>
  </div>
  <ng-template #updateQuantity>
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-secondary btn-block" (click)="setQuantity(-1)">-</button>
      </div>
      <div class="col-md-4 text-center">
        <span>{{getQuantity()}} in cart</span>
      </div>
      <div class="col-md-4">
        <button class="btn btn-secondary btn-block" (click)="setQuantity(1)">+</button>
      </div>
    </div>
  </ng-template>
</div>
