<div class="sticky-top">
  <ul class="list-group">
    <a class="list-group-item list-group-item-action" routerLink="/" (click)="activeCategory=null" [class.active]="!activeCategory">
      All Categories
    </a>
    <a class="list-group-item list-group-item-action"
       *ngFor="let category of (categories$ | async)"
       [queryParams]="{category: category.key}"
       routerLink="/"
       (click)="activeCategory = category.key"
       [class.active]="activeCategory === category.key">
      {{category.payload.val().name}}</a>
  </ul>
</div>
