<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
  <p>You have {{ cart.getTotalProductsOfItem }} product(s) in your cart.</p>
    <div>
      <table class="table">
        <thead>
        <tr>
          <td>Product</td>
          <td>Quantity</td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let productId of cart.productIds">
          <td>{{ cart.items[productId].product.title }}</td>
          <td>{{ cart.items[productId].quantity }}</td>
        </tr>
        </tbody>
      </table>
    </div>
</ng-container>
