<div class="container">
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-gift" aria-hidden="true"></i>
      Sweet Shop
    </a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#navbarsExampleDefault"    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="shopping-cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Cart
            <span class="sr-only">(current)</span>
            <span *ngIf="cart$ | async as cart" class="badge badge-pill badge-warning">{{cart.getTotalProductsOfItem}}</span>
          </a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav mr-auto">
      <ng-template #loginBlock>
        <a class="nav-link" routerLink="/login">Login<span class="sr-only">(current)</span></a>
      </ng-template>
      <li class="nav-item dropdown"  *ngIf="user; else loginBlock" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
          {{ user.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
          <ng-container *ngIf="user.isAdmin">
            <a class="dropdown-item" routerLink="/admin/orders">
              Manage Orders</a>
            <a  class="dropdown-item" routerLink="/admin/products">
              Manage Products</a>
          </ng-container>
          <a class="dropdown-item" routerLink (click)="logout()">Log Out</a>
        </div>
      </li>
    </ul>

  </nav>
</div>
